body {
  background-color: #19123B
}

.bg{
  background: #212042;
  color: #57557A;
}

.box-bottom{
  border-bottom: 5px solid rgb(176, 106, 252);
}

.box-top {
  border-top: 5px solid rgb(176, 106, 252);
}

.line-vertical{
  color: rgb(176, 106, 252);
  border-right: 5px solid;
}

.myform {
  padding: 0 25px 0 33px;
}

.form-control {
  color: #fff;
  border: 1px solid #57557A;
  border-radius: 3px;
  background: #212042;
  margin-bottom: 20px;
  letter-spacing: 1px
}

.form-control:focus {
  border: 1px solid #57557A;
  border-radius: 3px;
  box-shadow: none;
  background: #212042;
  color: #fff;
  letter-spacing: 1px
}

.form-check-input {
  margin-top: 8px !important
}

.btn-primary {
  background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
  border: none;
  border-radius: 50px
}

.btn-primary:focus {
  box-shadow: none;
  border: none
}

/* MODAL CSS */
.modal-content{
  background: #212042;
  color: #57557A;
}

.btn-close{
  background-color: #fff;
}

.modal-header{
  border-bottom: 1px solid #57557A;
}

.modal-footer{
  border-top: 1px solid #57557A;
}

.modal-title{
  color: #908fa0;
}